<div class="body">
    <mat-card>
        <div class="login">
            <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

            <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="login()">
                <img src="./assets/img/usuario.png" width="50%">
                <h1>Iniciar Sesión</h1>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput autocomplete="off" id="inputEmail" formControlName="email" [class.is-invalid]="emailValidate" />
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput autocomplete="off" id="inputPassword" formControlName="password" [class.is-invalid]="passwordValidate" />
                </mat-form-field>
                <br>
                <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="loginForm.invalid">Ingresar</button>
                <br>
                <br>
                <button mat-button color="accent" [routerLink]="['/register']">Aún no tienes una cuenta?</button>
            </form>
        </div>
    </mat-card>

</div>