<div class="container">
    <mat-toolbar color="primary">
        <span>Registrar usuario</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form (ngSubmit)=register() [formGroup]="registerForm">
            <mat-grid-list cols="4" rowHeight="80px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    Datos Personales
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre Completo</mat-label>
                        <input matInput autocomplete="off" formControlName="name" [class.is-invalid]="nameValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput autocomplete="off" formControlName="username" [class.is-invalid]="usernameValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Número de identificación</mat-label>
                        <input matInput autocomplete="off" formControlName="iduser" [class.is-invalid]="iduserValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Celular</mat-label>
                        <input matInput autocomplete="off" formControlName="cel" [class.is-invalid]="celValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput autocomplete="off" type="email" formControlName="email" [class.is-invalid]="emailValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Contraseña</mat-label>
                        <input matInput autocomplete="off" type="password" formControlName="password" [class.is-invalid]="passwordValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Repita la constraseña</mat-label>
                        <input matInput autocomplete="off" type="password" formControlName="password2" [class.is-invalid]="password2Validate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    Datos de Residencia
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Departamento</mat-label>
                        <input matInput autocomplete="off" formControlName="depart" [class.is-invalid]="departValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Ciudad</mat-label>
                        <input matInput autocomplete="off" formControlName="city" [class.is-invalid]="cityValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Barrio</mat-label>
                        <input matInput autocomplete="off" formControlName="neigh" [class.is-invalid]="neighValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Dirección de residencia</mat-label>
                        <input matInput autocomplete="off" formControlName="adress" [class.is-invalid]="adressValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    Datos Financieros
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Salario</mat-label>
                        <input matInput autocomplete="off" formControlName="salary" [class.is-invalid]="salaryValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Otros ingresos</mat-label>
                        <input matInput autocomplete="off" formControlName="other" [class.is-invalid]="otherValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Gastos mensuales</mat-label>
                        <input matInput autocomplete="off" formControlName="montly" [class.is-invalid]="montlyValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Gastos financieros</mat-label>
                        <input matInput autocomplete="off" formControlName="financial" [class.is-invalid]="financialValidate">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <button mat-button color="accent" style="margin-right: 30px;" [routerLink]="['/login']">Ya tienes una cuenta?</button>
                    <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Registrarse</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>