<div class="container">
    <mat-toolbar color="primary">
        <span>Datos del Usuario</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <mat-grid-list cols="3" rowHeight="60px">
            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
                <h2>Datos Personales</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Nombre Completo: </mat-label>
                {{user.name}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Nombre de usuario: </mat-label>
                {{user.username}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Número de identificación: </mat-label>
                {{user.iduser}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Celular: </mat-label>
                {{user.cel}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Correo electrónico: </mat-label>
                {{user.email}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
                <h2>Datos de Residencia</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Departamento: </mat-label>
                {{user.depart}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Ciudad: </mat-label>
                {{user.city}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Barrio: </mat-label>
                {{user.neigh}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Dirección de residencia: </mat-label>
                {{user.adress}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'lightgreen'">
                <h2>Datos Financieros</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Salario: </mat-label>
                {{user.salary}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Otros ingresos: </mat-label>
                {{user.other}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Gastos mensuales: </mat-label>
                {{user.montly}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-label style="margin-right: 5px;">Gastos financieros: </mat-label>
                {{user.financial}}
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <button mat-flat-button color="accent" style="margin-right: 30px;" (click)="getSalary()">API Salario</button>
                <button mat-raised-button color="warn" (click)="closeSesion()">Cerrar sesión</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>